.ficon{
	font-size: 0.27rem;

}
.tit{
	text-align: center;
	display: inline-block;
	width: 25%;
	margin-top: 0.02rem;
}
.tit>p{
	font-size: 12px;
}
.active{
	color: #14181b;
}
.bottom{
	background: #fff;
	height: 0.54rem;
}